/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --main-color:rgb(189, 188, 188);
    --second-color:rgb(121, 121, 121);
}




.images {
    position: absolute;
}


.crossSection {
    height: 100vh;
    width: 40vw;
    object-fit: cover;
    
}


.logo {
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo-background {
    margin-top: 25vh;
    position:absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 150px;
}
.content {
    position: absolute;
    
    margin-left: 40vw;
    
    margin-top: 30vh;
    /* background-color: aliceblue; */
    width: 60vw;
}

label, input {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 3px;
}

input{
    width: 90%;
    background-color: black;
    border-radius: 3px;
    border-style: solid;
    border-color: var(--second-color);
    border-width: 1px;
    height: 18px;
    color: var(--second-color);
}

em {
    font-style: italic;
}

.initialTexts {
    font-size: 24px;
    color: var(--main-color);
    padding-left: 5vw;
}

.first {
    line-height: 40px;
}

.second {
    margin-top: 40px;
}

legend {
    margin-top: 80px;
    margin-bottom: 20px;
    color: var(--main-color);
    font-size: 24px;
}

.row {
    display: flex;
    font-size: 12px;
    color: var(--second-color);
    flex-wrap: wrap;
    width: 90%;
    padding-bottom: 25px;
    /* gap: 100px; */
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    gap: 10px;
}

.button {
    margin-top: 40px;
}

.box{
    -webkit-box-shadow: 0 6px 6px -6px var(--second-color);
    -moz-box-shadow: 0 6px 6px -6px var(--second-color);
    box-shadow: 0 6px 6px -6px var(--second-color);
    padding-left: 5vw;
    /* background:cover; */
    /* width: 100%; */
    /* background-color: aliceblue; */
}

.button, .login{
    padding-left: 5vw;
    color: var(--main-color);
    margin-bottom: 30px;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border:0.1em solid rgb(255, 179, 0);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 800;
    color: rgb(255, 179, 0);
    text-align: center;
    transition: all 0.2s;
    background-color: black;
    font-size: 24px;
}

button:hover{
    color: var(--main-color);
    background-color: rgb(255, 179, 0);
}

.login {
    font-size: 18px;
}

a{
    color: rgb(255, 179, 0);
    text-decoration:none;
    font-weight: 500;
}

a:visited {
    text-decoration: none;
}

a:hover{
    color: var(--main-color);
    /* background-color: rgb(255, 179, 0); */
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: var(--second-color) !important;
}